## Cinema Ticket
### Visualizaci√≥n de datos

In [6]:
import pandas as pd

In [9]:
def importar_csv():
    """
        Importamos el archivo csv a nuestro notebook
    """   
    df_cinema = pd.read_csv("cinemaTicket_Ref.csv")
    return df_cinema

In [13]:
df_cinema = importar_csv()
df_cinema.head()

,film_code,cinema_code,total_sales,tickets_sold,tickets_out,show_time,occu_perc,ticket_price,ticket_use,capacity,date,month,quarter,day
0,1492,304,3900000,26,0,4,4.26,150000.0,26,610.328638,2018-05-05,5,2,5
1,1492,352,3360000,42,0,5,8.08,80000.0,42,519.801980,2018-05-05,5,2,5
2,1492,489,2560000,32,0,4,20.00,80000.0,32,160.000000,2018-05-05,5,2,5
3,1492,429,1200000,12,0,1,11.01,100000.0,12,108.991826,2018-05-05,5,2,5
4,1492,524,1200000,15,0,3,16.67,80000.0,15,89.982004,2018-05-05,5,2,5